body::-webkit-scrollbar {
  width: 10px;
}


@layer utilities {
  .text-huge {
    font-size: 50px;
    text-align: center;
  }

  @media (min-width: 640px) {
    .text-huge {
      font-size: 100px;
      text-align: center;
    }
  }

  @media (min-width: 768px) {
    .text-huge {
      font-size: 120px;
      text-align: center;
    }
  
  }
  @media (min-width: 1000px) {
    .text-huge {
      font-size: 150px;
      text-align: center;
    }
  }
}


body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(50 28 164);
}

.use-cases-nav-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.use-cases-nav-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(50 28 164);
}

.use-cases-nav-scroll::-webkit-scrollbar {
  width: 10px;
}


@media (min-width: 992px) {
  .hero-img {
    width: 80%;
  }

  #sticky-menu {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .calculator-des-container {
    width: 75%;
    margin: auto;
  }

  .use-cases-nav-scroll {
    overflow: scroll;
    height: 75vh;
  }
}

#sticky-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.orange-gradient-1 {
  background: radial-gradient(50% 50% at 50% 50%, #ff9831 0%, #fe330a 100%);
  filter: blur(55px);
}

.orange-gradient-2 {
  background: radial-gradient(50% 50% at 50% 50%, #fe330a 0%, #ff9831 100%);
  filter: blur(55px);
}

/* Custom CSS for accordion */
.accordion-item .accordion-header {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.accordion-header {
  column-gap: 20px;
}

.accordion-header h5 {
  flex: 1;
}

.accordion-header .accordion-icon {
  transition: all 0.3s ease;
}

.accordion-item.active .accordion-icon {
  transform: rotate(-45deg);
}

.accordion-item.active .accordion-icon.is-blue {
  background-color: #321ca4;
}

.accordion-icon.is-blue {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eaedf0;
}

.accordion-icon.is-blue img:last-child {
  position: absolute;
  opacity: 0;
}

.accordion-item.active .accordion-icon.is-blue img:last-child {
  opacity: 1;
}

.accordion-icon.is-chevron {
  position: relative;
  width: 30px;
  height: 30px;
}

.accordion-icon.is-chevron img:first-child {
  opacity: 1;
}

.accordion-icon.is-chevron img:last-child {
  opacity: 0;
}

.accordion-header .accordion-icon.is-chevron {
  transform: rotate(0deg);
}

.accordion-item.active .accordion-icon.is-chevron img:first-child {
  opacity: 0;
}

.accordion-item.active .accordion-icon.is-chevron img:last-child {
  opacity: 1;
}

.accordion-icon.is-outline-green {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-icon-plus {
  position: relative;
}

.accordion-icon-plus::before,
.accordion-icon-plus::after {
  position: absolute;
  content: "";
  background: #fff;
  transition: all 0.5s ease;
  width: 20px;
  height: 1px;
  top: 0px;
  left: -10px;
}

.accordion-icon-plus::after {
  transform: rotate(90deg);
}

.accordion-item.active .accordion-icon.is-outline-green {
  border-color: #39ff14;
  transform: rotate(0);
}

.accordion-item.active
  .accordion-icon.is-outline-green
  .accordion-icon-plus::before {
  background: #39ff14;
}

.accordion-item.active
  .accordion-icon.is-outline-green
  .accordion-icon-plus::after {
  transform: rotate(0deg);
  opacity: 0;
}

.accordion-content {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(30px);
}

.accordion-item.active .accordion-content {
  height: auto;
  transition: all 0.5s ease;
  opacity: 1;
  transform: translateY(0px);
  margin-top: 15px;
}

.accordion-item.is-2:has(.active),
.accordion-item.is-3:has(.active) {
  border: none;
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.footer-text-slider {
  animation: horizontal-slide-from-right-to-left 10s linear infinite normal
    forwards;
}

.horizontal-slide-from-right-to-left {
  animation: horizontal-slide-from-right-to-left linear 10s infinite;
}

.horizontal-slide-from-left-to-right {
  animation: horizontal-slide-from-left-to-right linear 10s infinite;
}
.company-column p {
  margin-left: -218px;
}

.partners-column p {
  margin-left: -5px;
}


/* Mobile (smaller screens) */
@media (max-width: 768px) {
  .company-column p {
      margin-left: 5px; /* Adjust this value as needed for mobile */
  }

  .partners-column p {
      margin-left: 30px; /* Adjust this value as needed for mobile */
  }
  
  @keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.sub-menu {
    display: none; /* Hide by default */
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease; 
    padding: 5px 10px;/* Smooth transition */
}

.sub-menu.active {
    display: block; /* Show when active */
    opacity: 1;
    transform: translateX(0); /* Slide in */
}
}

/* Custom CSS */
.blockquote-container {
  display: flex; /* Align items horizontally */
  align-items: flex-start; /* Align items at the start */
  margin: 20px 0; /* Add margin if needed */
}

.vertical-line {
  width: 4px; /* Thickness of the vertical line */
  background-color: black; /* Color of the vertical line */
  height: auto; /* Set height to cover the content */
  margin-right: 20px; /* Space between line and blockquote */
}

.wp-block-quote {
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  max-width: 600px; /* Optional: Set a max-width for better readability */
}
.solution-image-wrapper {
  width: 100%; /* Ensures the image container spans the full width of its parent */
  overflow: hidden; /* Hides any overflow content */
  margin-top: 70px; /* Space above the image */
}

.solution-image {
  width: 100%; /* Ensures the image spans the full width of the container */
  height: auto; /* Maintains the aspect ratio of the image */
  display: block; /* Removes any space below the image */
}


.solution-image {
  width: 100%; /* Ensures the image spans the full width of the container */
  height: 0 25px; /* Maintains the aspect ratio of the image */
  display: block; /* Removes any space below the image */
}


.global-container {
  padding: 20px;
}


.flex {
  display: flex;
  gap: 40px; /* Adjust this for the gap between the columns */
}

.text-left p {
  margin-bottom: 10px;
}

.md\\:text-left {
  text-align: left;
}

.md\\:mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 16px;
}

.font-bold {
  font-weight: bold;
}

.justify-between {
  justify-content: space-between;
}
.compact-dropdown-link {
  padding: 5px 8px; /* Reduce padding */
  font-size: 14px;  /* Smaller font size */
}

.compact-dropdown-menu {
  padding: 5px 0;   /* Less padding around the dropdown */
  width: 150px;     /* Reduce the width of the dropdown */
}

.compact-dropdown-item {
  padding: 5px 10px; /* Less padding for list items */
  font-size: 15px;   /* Slightly smaller font size */
  margin: 3px 0;     /* Smaller margin between items */
}
.sub-menu::before {
  content: none;
}
html {
  scroll-behavior: smooth;
}


@keyframes horizontal-slide-from-right-to-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes horizontal-slide-from-left-to-right {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

.sticky-menu.nav-hidden {
  animation: fadeInDown 0.9s 1;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

#process-p {
  flex-direction: column;
  overflow: hidden;
}

.progress-bt {
  border-top: 2px solid black;
}

.process-text {
  width: 60%;
}

.process-img {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.process-mr {
  margin-right: 30px;
}
.process-ml {
  margin-left: 30px;
}


@media (max-width: 992px) {
  .process-c {
    flex-direction: column;
  }
  .process-mr {
    margin-top: 30px;
    margin-right: 0px;
  }
  .process-ml {
    margin-top: 30px;
    margin-left: 00px;
  }

  .process-text {
    width: 100%;
  }

  .process-img {
    width: 100%;
  }

  .process-order {
    order: 2;
  }
}

.audio-p button {
  width: 75px;
  margin-right: 15px;
}

.waveform {
  width: 100%;
}
